.container {
    width: 25vw;
    height: 70vh;
    background-color: #ffffff;
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.2);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 1rem;
    position: absolute;
    bottom: 0;
    left: 6rem;
}