.contact {
    display: flex;
    padding-bottom: 1rem;
    margin-bottom: 1.5rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.contact:last-child {
    margin-bottom: 0;
    border-bottom: 0;
}

.contact .contact__avatar,
.contact .contact__details {
    cursor: pointer;
}

.contact .contact__avatar img {
    width: 75px;
    height: 75px;
    border-radius: 100%;
    padding: 3px;
    border: 1px solid #bdc3c7;
    background-color: #ffffff;
}

.contact:hover .contact__avatar img {
    box-shadow: 0 1px 15px 1px rgba(69, 65, 78, 0.2);
    border-color: #34495e;
}

.contact .contact__details {
    padding-left: 1.25rem;
}

.contact .contact__details .contact__details--name {
    font-size: 1.15rem;
    font-weight: 500;
}

.contact .contact__details .contact__details--message {
    font-size: 0.85rem;
    color: rgba(0, 0, 0, 0.5);
}