@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    background-color: #000;
    background-image: url('http://jllsly.com/wallpapers/healthy-food-wallpaper-1080p-Is-Cool-Wallpapers.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    margin: 0;
}