@import url('https://use.fontawesome.com/releases/v5.0.6/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,700');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img,
video {
    width: 100%;
    height: auto;
}

body {
    font-family: 'Poppins', Arial, sans-serif;
    font-size: 16px;
    color: #414141;
    background-color: #f2f3f8;
    margin: 0;
}

.icon.is-medium {
    font-size: 1.75rem;
}